<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - mi aplicación ASP.NET</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
    <!--Swee alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</head>
<body>

    <!-- Barra de Navegacion -->
    <nav class="navbar navbar navegacion">
        <div class="container-fluid  navegacion">
            <a class="navbar-brand text-light " href="#">Cashpak</a>
        </div>
    </nav>


    <!-- formulario -->
    <div class="container-fluid">
        <div class="container text-center salto">
            <div class="row align-items-start">
                <div class="col">
                    <!--Izquierda-->
                </div>
                <div class="col">
                    <!-- formulario Contenedor -->
                    <div class="contenedor justify-content-center row">

                        <div class="formulario">
                            <!-- Formulario-->
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label text-dark">Documento</label>
                                    <input type="text"  size="16" class="form-control" id="doc">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label text-dark">Cuenta</label>
                                    <input type="text" minlength="9" maxlength="9" size="16" class="form-control" id="">
                                </div>
                                <div class="col-12">
                                    <button type="submit" onclick="Mostrar()" class="btn btn-primary">Consultar</button>
                                </div>
                            </div>
                            <!--Fin Formulario-->
                        </div>
                    </div>
                    <!-- formulario Contenor Fin -->

                </div>
                <div class="col">
                    <!--Derecha-->
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">

   function Mostrar() {
    Swal.fire({
        title: '¿Quieres consultar esta Tarjeta?',
        showDenyButton: true,
        // showCancelButton: true,
        confirmButtonText: 'Consultar',
    }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
            let inputValue = document.getElementById("doc").value; 
            console.log(inputValue);
            var url = "@Url.Action("Credenciales", "Home")";
           
            var data = { header : inputValue };
            $.post(url , data).done(function (data){
                alert(data);
            });
        } else if (result.isDenied) {
            Swal.fire('Tarjeta Depurada', '', 'error')
        }
    })


}


    </script>






    @RenderBody()
    @*@RenderSection("SPAViews", required: false)*@


    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CREDENCIALES")
    @*@RenderSection("Scripts", required: false)*@


</body>
</html>
