<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - TESTADO</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Electrolize&family=Shantell+Sans:wght@300&family=Tourney:ital,wght@0,100;0,200;1,100;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Swee alert-->
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</head>
@{
    Layout = null;
}
@{
    ViewBag.Title = "Login";
}

@Styles.Render("~/Content/css")

<!--<body class="img-fluid">

    <div class="form">
        <div class="thumbnail text-center"><img class="brz-img texto" srcset="https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-178x47x1x0x176x47x1638558904.png 1x, https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-356x94x2x0x352x94x1638558904.png 2x" src="https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-178x47x0x0x178x47x1638558904.png" alt="" draggable="false" loading="lazy"></div>
        <div>
            <p></p>
            <div class="mb-3 tex">
                <label class="form-label text-light">Operador</label>
                <input type="text" class="form-control" id="encriptaroperador" placeholder="Rlopez249744598.163736">
            </div>

            <div class="mb-3">
                <label for="" class="form-label text-light">Cuenta de Agente</label>
                <input type="password" class="form-control" id="encriptarcuenta" placeholder="ANU022335">
            </div>

            <div class="mb-3">
                <label for="" class="form-label text-light">Terminal</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="POSNI0014061">
            </div>

            <div class="mb-3 text-center ">
                <button id="botonEncriptar" type="submit" class="Boton_"></button>
            </div>
        </div>
    </div>


</body>-->


<body>

    <main>

        <div class="form">
            <div class="thumbnail text-center"><img class="brz-img texto" srcset="https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-178x47x1x0x176x47x1638558904.png 1x, https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-356x94x2x0x352x94x1638558904.png 2x" src="https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-178x47x0x0x178x47x1638558904.png" alt="" draggable="false" loading="lazy"></div>
            <div>
                <p></p>



                <div class="mb-3 tex">
                    <label class="form-label text-light">Usuario</label>
                    <input type="text" class="form-control" id="Usuario" placeholder="Rlopez2497">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label text-light">Contraseña</label>
                    <input type="password" class="form-control" id="Contraseña" placeholder="************">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label text-light">Agencia</label>
                    <select id="select" class="form-select ">
                        <option>Seleccione Una Agencia</option>
                        <option value="1">Airpak Nicaragua S.A</option>
                        <option value="2">Airpak Tipitapa</option>
                        <option value="3">Airpak Metrocentro</option>
                        <option value="4">Airpak La Colonia C. Jardin</option>
                        <option value="5">Airpak Pali Zumen</option>
                        <option value="6">Airpak Pali Linda Vista</option>
                        <option value="7">Airpak Pali C. Sandino</option>
                        <option value="8">Airpak Pali 1 De Mayo</option>
                    </select>
                </div>
                <div class="mb-3 text-center ">
                    <button onclick=" index()" type="submit" class="Boton_3"></button>
                </div>
            </div>
        </div>


    </main>
    <script type="text/javascript">

        function index() {
            let encriptado = document.getElementById("select").value;
            let usuario = document.getElementById("Usuario").value;
            let contrasena = document.getElementById("Contraseña").value;
            var url = "@Url.Action("Loginvalidation", "Home")";

            if ((encriptado == "") || (usuario == "") || (contrasena == "")) {
                alert("Contraseña incorrecta NO SEA PAKA PAKA ;v");
            } else {
              
               
                var data = { header: encriptado, user: usuario, pwd: contrasena };
                console.log(data);
                $.post(url, data).done(function (data) {
                    console.log(data);
                    if (data == true) {
                        window.location.href = "@Url.Action("index", "Home")";

                    } else {
                        alert("Contraseña incorrecta NO SEA PAKA PAKA ;v")

                    }

                });
            }
        }

    </script>
</body>
</html>